// Base variables
$primary-color: lighten(black, 20%);
$secondary-color: lighten($primary-color, 10%);

$base-margin: .5rem;
$base-padding: .5rem;
$base-radius: 0.25rem;
$base-border: 2px solid;
$base-border-color: $primary-color;

$large-margin: $base-margin * 2;
$large-padding: $base-padding * 2;

$x-large-margin: $base-margin * 8;
$x-large-padding: $base-padding * 8;

$small-screen: 600px;

$sidebar-width: 150px;
$app-width: 800px;