@import 'variables.scss';

.result {

  max-width: calc($app-width / 2);

  h1 {
    display: inline-block;
    text-transform: capitalize;
  }

  strong {
    font-style: italic;
  }

  &-label {
    color: $secondary-color;
    display: inline-block;
    margin-left: $base-margin;
    font-style: italic;
  }

  &-info {
    margin: $base-margin 0;
  }
}
